<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #container{
            border:solid skyblue 10px;
            overflow:auto;
        }
        nav{
            border: solid;
            float:left;
        }
        p{
            border: solid;
        }
        #right{
            float:right;
            width: 80%;
            
        }
    </style>
</head>
<body>
    <div id="container">
        <nav>
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ul>
        </nav>
        <div id="right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur autem officiis molestiae ad, doloribus ut quisquam, repudiandae eaque obcaecati nemo, repellat in, deserunt nobis distinctio ipsum quia nihil eum odit!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur porro veniam earum rem deleniti quaerat, enim suscipit! Excepturi deserunt, eligendi sit itaque inventore nesciunt magni. Cumque odio, eveniet a accusantium.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla mollitia, tenetur doloremque sapiente ut recusandae nihil? Nam placeat dolorem odio, nulla vel tenetur, voluptates doloribus perferendis assumenda, magni doloremque repudiandae.</p>
        </div>
    </div>
</body>
</html>